.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c3a7c;
    color: azure;
}

.brandTitle{
    font-size: 1.5rem;
    margin: 2rem;
}

.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarLinks li{
    list-style: none;
}

.navbarLinks li a{
    text-decoration: none;
    color: azure;
    padding: 1rem;
    display: block;
}

.navbarLinks li:hover{
    background-color: rgb(75, 156, 248);
    border-radius: 25px;
    
}

.toggleBtn{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggleBtn .bar{
    height: 3px;
    width: 100%;
    background-color: azure;
    border-radius: 10px;
}

